{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <!-- css link -->
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>

    <form action="">
        <label for="">Search...</label><br>
        <input type="search" id="search" name="search" placeholder="Search here...">
        {% for item in searched %}
        <div class="box_1 box"><h1>{{item.name}}</h1><br><a href="#">{{item.description}}</a></div>
        {% endfor %}
        
        <div class="box_2 box"></div>
    </form>
    
</body>
</html>